.logo{
    width: 10%;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .scrollspy-example-2 {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

iframe{
    width: 75%;
}